################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C# OOP Basics/20180213_Exercise_Defining_Classes/.vs/20180213_Exercise_Defining_Classes/v15/Server/sqlite3/db.lock
/20180212_C#_OOP_Basics/20180213_Exercise_Defining_Classes/Exercise_Defining_Classes/.vs/20180213_Exercise_Defining_Classes/v15/Server/sqlite3/db.lock
